{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>
    <h1 class="is-size-3">Deid Templates </h1>
    <a href="{% url "deidtemplate_create" %}">Create a new Template</a>
    <div class="columns">
        <div class="column">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for element in object_list %}
                    <tr>
                        <td>{{ element.templateName }}</td>
                        <td>
                            <a href="{% url "deidtemplate_detail"  element.id %}">Details</a>
                            <a href="{% url "deidtemplate_update"  element.id %}">Edit</a>
                            <a href="{% url "deidtemplate_delete"  element.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}