{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/app">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>
    <h1 class="is-size-3">Delete Deid Template </h1>

    <div class="columns">
        <div class="column">


            <form method="post">
                {% csrf_token %}
                Are you sure you want to delete this Template?
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>


{% endblock content %}