{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>


    <div class="columns">
        <div class="column">
            <h1 class="is-size-4">Deid Teamplate Details </h1>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                 <thead>
                <th>Study Field</th>
                <th>Value</th>
                </thead>
                <tr>
                    <td>Template Id</td>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <td>Template Name</td>
                    <td>{{ object.templateName }}</td>
                </tr>

            </table>
             <h1 class="is-size-4">Elements</h1>
            <a href="{% url "deidparam_create" %}">Add a new Element</a>   -   <a href="{% url "dicomelements_create" %}">Add all default Elements</a>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <th>Element Name</th>
                <th>Value</th>
                <th>Actions</th>
                </thead>
                {% for element in  templateElements %}
                    <tr>
                        <td>{{ element.name }}</td>
                        <td>{{ element.value }}</td>
                        <td>  <a href="{% url "dicomelements_update" element.id  %}">edit</a>   <a href="{% url "dicomelements_delete" element.id  %}">delete</a></td>
                    </tr>
                {% endfor %}
            </table>


        </div>
    </div>


{% endblock content %}