{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>

    <h1 class="is-size-3">DicomElement Update </h1>
    <div class="columns">
        <div class="column">
            <form method="post">
                {% csrf_token %}
                 <table width="50%">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>


{% endblock content %}