{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>


    <div class="columns">
        <div class="column">
            <h1 class="is-size-4">Study Details </h1>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <th>Study Field</th>
                <th>Value</th>
                </thead>
                <tr>
                    <td>Study Id</td>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <td>Study Name</td>
                    <td>{{ object.study_name }}</td>
                </tr>
                <tr>
                    <td>IDSC #</td>
                    <td>{{ object.idsc }}</td>
                </tr>

                <tr>
                    <td>IRB NUM</td>
                    <td>{{ object.irb_num }}</td>
                </tr>
                <tr>
                    <td>PI</td>
                    <td>{{ object.pi_fname }} {{ object.pi_lname }} : {{ object.pi_email }}</td>
                </tr>
                <tr>
                    <td>Template for Deidentification</td>
                    <td>{{ object.template }}</td>
                </tr>
            </table>
            <h1 class="is-size-4">Study Parameters</h1>
            <a href="{% url "deidparam_create" %}">Add a new Parameter</a>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <th>Parameter Name</th>
                <th>Value</th>
                <th>Actions</th>
                </thead>
                {% for param in  deidparams %}
                    <tr>
                        <td>{{ param.paramName }}</td>
                        <td>{{ param.paramValue }}</td>
                        <td>edit delete</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


{% endblock content %}