{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>
    <h1 class="is-size-3">Studies </h1>
    <a href="{% url "study_create" %}">Create a new study</a>
    <div class="columns">
        <div class="column">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Study Name</th>
                    <th>IDSC #</th>
                    <th>IRB Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for study in object_list %}
                    <tr>
                        <td>{{ study.study_name }}</td>
                        <td>{{ study.idsc }}</td>
                        <td>{{ study.irb_num }}</td>
                        <td>
                            <a href="{% url "study_detail"  study.id %}">Details</a>
                            <a href="{% url "study_update"  study.id %}">Edit</a>
                            <a href="{% url "study_delete"  study.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}