{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}

    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>
    <div class="is-size-2"> IDSC Epomeno Site</div>
    <div>
        This site is used to maintain the IDSC De-idetification Process.
    </div>
    <br/>
    <div class="columns">
        <div class="column">
            <ul>
                <li> Redcap Requests ({{ template_count }} )</li>
                <li><a href="{% url "study_list" %}">Studies </a>({{ study_count }} )</li>
                <li><a href="{% url "deidtemplate_list" %}"> Templates </a> ({{ template_elements_count }} )</li>
                <li><a href="{% url "dicomelements_list" %}">Default Dicom Elements </a>({{ default_dicom_element_count }} )</li>
             </ul>
        </div>
    </div>


{% endblock content %}