{% extends 'ibase.html' %}

{% block title %}IDSC Site{% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/app">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Home</span></a>
            </li>
            <li><a href="https://bulma.io/documentation/">Documentation</a></li>
            <li><a href="https://bulma.io/documentation/components/">Components</a></li>
            <li><a href="/admin" aria-current="page">Admin</a></li>
        </ul>
    </nav>
    <h1>Studies </h1>
    {% if study_list %}
        <div class="columns">
            <div class="column">
                <ul>
                    {% for study in study_list %}
                        <li><a href="/study/{{ study.id }}/">{{ study.study_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}
        <p>No Studies are available.</p>
    {% endif %}
{% endblock content %}